/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #FFF;
    font-size: .80em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #808080;
}

a:link, a:visited
{
    color: #000080;
    text-decoration: none;
}

a:hover
{
    color: #000080;
    text-decoration: none;
}

a:active
{
    color: #fff;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

img
{
    border: 0;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}
/* Head
----------------------------------------------------------*/
#divHead
{
    background-color: #000080;
}
/* Menu
----------------------------------------------------------*/
#divMenu
{
    font-size: 12px;
    font-variant: small-caps;
    font-weight: bolder;
    padding: 0px 10px 5px 10px;
}
#divMenu a
{
    color: #FFF;
    padding: 5px 10px 5px 10px;
}
#divMenu a:hover
{
    /*background-color: #000080;*/
    color: #fafafa;
    text-shadow: 4px 4px 5px #CD0000;
}

/* Login
----------------------------------------------------------*/
#divLogin
{
    font-size: 12px;
    font-variant: small-caps;
    font-weight: bolder;
    padding: 0px 10px 5px 10px;
    color: #FFF;
}
#divLogin a
{
    color: #FFF;
    padding: 5px 10px 5px 10px;
}
#divLogin a:hover
{
    /*background-color: #000080;*/
    color: #fafafa;
    text-shadow: 4px 4px 5px #CD0000;
}
#divLogin input
{
    color: #000;
}
/* Logo
----------------------------------------------------------*/
#divLogo
{
    color: #CD0000;
    font-family: Rockwell, Consolas, "Courier New" , Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    text-align: center;
    text-shadow: 1px 1px 2px #FFF;
}
#divLogo a
{
    color: #CD0000;
}

/* Footer
----------------------------------------------------------*/
#divFooter
{
    background-color: #585858;
    min-height: 50px;
    font-size: 9px;
}
.divFooterConteudo
{
    text-align: center;
    color: #FFF;
    padding: 15px 15px 15px 15px;
}
.divFooterConteudo
{
    font-size: 15px;
}
.divRodape
{
    float: left;
    width: 300px;
    height: 100px;
}

/* Body
----------------------------------------------------------*/
#divBody
{
    margin: 0px auto;
    min-height: 300px;
    padding: 10px 0px 10px 0px;
}
.divPrincipal
{
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom: 0px;
    border-top: 0px;
    border-style: solid;
    border-color: #ddd;
    padding: 20px 10px 0px 20px;
}

.divTitulo
{
    font-size: 15px;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: bolder;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.divPesquisa
{
    background-color: #EEE;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
.divPesquisa input[type="submit"]
{
    border-radius: 6px;
    background-color: #FFF;
    color: #000;
    font-weight:bolder;
    padding: 5px 10px 5px 10px;
    font-family:Arial;
    margin: 10px 5px 5px 5px;
    border-color: Black;
}

.tabelaTotal
{
    background-color: #333;
    color: #FFF;
    font-weight: bolder;
}
.tabelaCabecalho
{
    background-color: #333;
    color: #FFF;
    font-weight: bolder;
}
.tabelaLinhaPintada
{
    background-color:#EEE;
}
td
{
    padding-left: 5px;
}
/* Geral
----------------------------------------------------------*/
.divCentralizar
{
    width: 1000px;
    margin: 0px auto;
}
.divDivisoria
{
    background-color: #222;
    padding-top: 15px;
}
.divDivisoriaClara
{
    background-color: #CCC;
    padding-top: 5px;
}

